// set custom hex colors
$siteBgColorCustom: #F9E0D9;
$sidebarBgColorCustom: #dbdbd2;
$textColorCustom: #666260;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: #5C164E;
$headingColorCustom: #103742;
$bodyLinkColorCustom: #5C164E;
$navLinkColorCustom: #5C164E;
$sidebarLinkColorCustom: #5C164E;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #c4001a;
$borderColorCustom: #c4beb9;

blockquote {
  border-left: 10px solid #5C164E !important;
  border-right: 10px solid #5C164E !important;
  text-align: center;
  padding: 0.5em 10px;
  font-size: 1.25em;
}