h1 {
    color: #E9D2C0;
}

.quarto-title .quarto-categories {
    color: white;
}

h1.title, .title.h1 {
    color: #E9D2C0;
    text-align: left;
}

.center-text {
  text-align: center;
}

.li2 {
    margin-bottom: 30px;
    border: 3px solid #1F2041;
    padding: 10px;
}

.main-date {
    color: #E9D2C0;
    background-color: #1F2041;
    border-color: #1F2041;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    padding: 0.375rem 0.75rem;
}

.post-title {
  font-size: 1.65rem;
  font-family: "Phudu";
  line-height: 1.2;
  color: #1f2041;
  font-weight: 600;
  vertical-align: middle;
}

.summary-text {
  font-family: var(--bs-body-font-family);
}

.quarto-title .quarto-categories .quarto-category {
    font-size: 0.75em;
    opacity: 1;
    color: #E9D2C0;
}

.h4 {
  vertical-align: top;
}

 .post-categories {
            display: flex;
            flex-wrap: wrap;
            row-gap: 0.4em;
            column-gap: 0.4em;
            margin: 0.5em 0;

            .post-category {
                color: #E9D2C0;
                background-color: #1F2041;
                border: 1px solid #1F2041;
                border-radius: 5px;
                text-transform: uppercase;
                font-size: 0.85em;
                padding: 0.15em 0.5em;
                cursor: pointer;
            }
        }
        
.page-item.active .page-link {
    background-color: #1f2041;
    border-color: #1f2041;
    border-radius: 12px;
}

.page-item .page-link {
  /*  border-radius: 12px; */
    border: none;
    background-color: #E9D2C0;
}