div.my-footer {
    background-color: #661414;
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    width: 100%;
}

div.my-footer span {
    font-size: 10pt;
    color: #CCB3A3;
    position: absolute;
    left: 15px;
    bottom: 7px;
}

.remark-slide-number {
  bottom: 3px;
  opacity: 0.75;
  color: #CCB3A3;
  position: absolute;
  right: 20px;
  font-family: Ubuntu;
}

.huge { 
  font-size: 50px;
}

.large { 
  font-size: 32px;
}

.medium { 
  font-size: 22px;
}

.tiny .remark-code { 
  font-size: 75%;
}